	.heart i.fa-heart{
		color: #f44336;
		
	}
	.heart{
		animation : heart 1.5s linear;
	}
	@keyframes heart{
		0%{
			transform : rotate(0deg) scale(1);
		}
		20%{
			transform : rotate(90deg) scale(1);
		}
		30%{
			transform : rotate(180deg) scale(1);		
		}
		40%{
			transform : rotate(270deg) scale(1);		
		}
		100%{
			transform : rotate(360deg) scale(1);
		}
		
		
	}
</style>
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
<style type="text/css">

.breadcrumb-list > li {
  font-size: 14px;
  list-style: none;
  display: inline;
}
.breadcrumb-list > li a:after {
  content: "/";
  vertical-align: middle;
  margin: 0 5px;
  color: #7a7a7a;
}
.action-wishlist:hover,
.action-wishlist:focus{
  color:#fff;
}
.add-to-cart.action-wishlist {
  width: 50px;
  text-align: center;
  padding: 0;
}
.add-to-cart.action-wishlist i {
  margin-right: 0px;
}
.product-add-to-cart .cart-title,
.product-add-to-cart .cart-title:hover,
.product-list-action .cart-title,
.product-list-action .cart-title:hover {
  background-color: transparent;
  border-bottom: none;
  color: inherit;
}
.product-add-to-cart .pro-add-btn i,
.product-list-action .pro-add-btn i {
  margin-right: 10px;
  font-size: 18px;
}
.add-to-cart {
  display: inline-block;
}
.action-wishlist:hover,
.action-wishlist:focus{
  color:#fff;
}
.add-to-cart.action-wishlist i {
  margin-right: 0px;
}
.product-add-to-cart {
  float: none;
}
.single-product-wishlist{
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.product-thumbnail .owl-nav  {display: none;}
.breadcrumb-area {
    padding: 30px 0;
    background-color: #f3f3f3;
}
.breadmome-name {
    color: #ff6a00;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 18px;
}
.breadcrumb-content > ul > li {
    display: inline-block;
    list-style: none;
    position: relative;
    font-size: 14px;
    color: #333;
}
.breadcrumb-content > ul > li.active{
    color: #ff6a00;
}
.breadcrumb-content > ul > li:after {
    content: "/";
    vertical-align: middle;
    margin: 0 5px;
    color: #7a7a7a;
}
.breadcrumb-content > ul > li:last-child:after{
    display: none;
}
.mt-80 { margin-top: 80px }.mb-80 { margin-bottom: 80px }
.single-product-name {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 900;
    color: #444;
    line-height: 24px;
    margin-bottom: 15px;
}
.single-product-reviews {
    margin-bottom: 10px;
}
.single-product-price {
    margin-top: 25px;
}
.single-product-action {
    margin-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    float: left;
    width: 100%;
}
.product-discount {
    display: inline-block;
    margin-bottom: 20px;
}
.product-discount span.price {
    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    display: inline-block;
    color: #008bff;
}
.product-info {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.product-info p {
    line-height: 30px;
    font-size: 14px;
    color: #333;
    margin-top: 30px;
}
.product-add-to-cart span.control-label {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #232323;
    font-size: 14px;
}
.product-add-to-cart {
    overflow: hidden;
    margin: 20px 0px;
    float: left;
    width: 100%;
}
.cart-plus-minus-box {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #3c3c3c;
    height: 49px;
    text-align: center;
    width: 50px;
    padding: 5px 10px;
}
.product-add-to-cart .cart-plus-minus {
    margin-right: 25px;
}
.cart-plus-minus {
    position: relative;
    width: 75px;
    float: left;
    padding-right: 25px;
}
.add-to-cart {
    background: #008bff;
    border: 0;
    border-bottom: 3px solid #0680e5;
    color: #fff;
    box-shadow: none;
    padding: 0 30px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
}
.add-to-cart:hover {
    background: #ff6a00;
    border-color: #e96405;
}



